.table {
  overflow: auto;
  &__filter {
    margin-bottom: 20px;
    > input {
      width: 200px;
      padding: 10px 20px;
      border: 1px solid grey;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      outline: none;
    }
    > button {
      padding: 10px 20px;
      background-color: $bg;
      color: $text;
      border: 1px solid grey;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
    }
  }
}

.table__container {
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tableTitle {
  display: flex;
  align-items: center;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
}

.tableWrapper > div {
  margin-bottom: 5px;
}

.tableAvatar img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.tbodyWrapper tr td {
  font-size: 14px;
}
