.cart {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(l) {
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  &__box {
    background-color: $box;
    width: 23%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    @include breakpoint(l) {
      width: 35%;
    }
    @include breakpoint(md) {
      width: 100%;
    }
    &__text {
      p {
        color: $textSoft;
        font-size: 13px;
        margin-bottom: 8px;
      }
    }
    &__rating {
      display: flex;
      align-items: center;
    }
    &__icon {
      > span {
        background-color: rgb(0, 115, 255);
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
      }
    }
  }
}

.rating {
  margin-left: 10px;
}
