.chart {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: $box;
  border-radius: 10px;
  justify-content: space-around;
  @include breakpoint(md) {
    flex-direction: column;
  }
}

.recharts-wrapper {
  width: 100% !important;
}
