.invoices {
  width: 380px;
  background-color: $box;
  padding: 20px;
  border-radius: 10px;
  font-size: 14px;
  height: 415px;
  @include breakpoint(md) {
    width: 100%;
    height: 100%;
  }
  &__container {
    &__title {
      display: flex;
      justify-content: space-between;
      > button {
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        background-color: $bg;
        color: $text;
        cursor: pointer;
      }
    }

    &__box {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__right {
        &__content {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.pdfIcon {
  margin-left: 20px;
}

.textSoft {
  color: $textSoft;
}

.invoices-mobile {
  @include breakpoint(md) {
    width: 100%;
  }
}
