.profileinformation {
  margin-top: 30px;
  &__container {
    &__wrapper {
      display: flex;
      gap: 30px;
      @include breakpoint(sm) {
        flex-wrap: wrap;
      }
    }
  }
}

.centerSoft {
  color: $textSoft;
}

.socialmediaIcon {
  margin-left: 15px;
}

.welcome {
  background-image: url(../../assets//profileBackground.webp);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  &__top {
    > p {
      margin-top: 10px;
    }
  }
  &__bottom {
    > p {
      cursor: pointer;
    }
  }
}

.arrow {
  position: relative;
  top: 3px;
  left: 5px;
}

.carinformation {
  background-color: $box;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  @include breakpoint(sm) {
    text-align: center;
  }
  &__top {
    > p {
      color: $textSoft;
    }
  }
  &__center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 20px;
    &__svg {
      width: 200px;
    }
    &__text {
      text-align: center;
      position: absolute;
      top: 20%;
      left: 40%;
      > h2 {
        font-size: 2.5rem;
      }
      > p {
        font-size: 14px;
        color: $textSoft;
      }
    }
    &__bottom {
      text-align: center;
      > p {
        color: $textSoft;
      }
    }
  }

  &__bottom {
    &__wrapper {
      margin-top: 20px;
      display: flex;
      gap: 10px;
      &__box {
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        background-color: $bg;
        @include breakpoint(sm) {
          justify-content: space-between;
        }
        &__right {
          > img {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.profileinfo {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: $box;
  &__title {
    > h3 {
      margin-bottom: 20px;
    }
    > p {
      color: $textSoft;
      margin-bottom: 90px;
    }
  }
  &__center {
    > p {
      margin-top: 20px;
    }
  }
  &__socialmedia {
    margin-top: 20px;
  }
}
