.projects {
  margin-top: 30px;
  &__container {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: $box;
    &__wrapper {
      margin-top: 20px;
      display: flex;
      gap: 10px;
      @include breakpoint(sm) {
        flex-direction: column;
      }
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $bg;
    padding: 10px;
    &__img {
      > img {
        border-radius: 10px;
        width: 100%;
      }
    }
    &__text {
      margin-top: 10px;
    }
    &__btn {
      margin-block: 10px;
      > button {
        background: transparent;
        border: 1px solid grey;
        padding: 10px 20px;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}
