$bg: #011f4b;
$text: #fff;
$box: #1f5588;
$textSoft: #dddddd;

@import "./globals/";
@import "./components/";
@import "./pages/";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

body {
  background-color: $bg;
  color: $text;
}

.container {
  display: flex;
  @include breakpoint(sm) {
    display: block;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
}
